html {
  width: 100vw; }

body {
  margin: 0 20px 50px;
  padding: 0;
  font-family: sans-serif;
  color: #f8f8f8;
  background-color: #2c3e50;
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 64px; }

.app {
  width: 100vw;
  height: 100vh;
  text-align: center; }

.soundboard {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.btn {
  font-size: 16px;
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 10px;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease; }

.btn:focus {
  outline: none; }

.btn-soundboard {
  background-color: #2980b9; }

.btn-soundboard:hover {
  background-color: #3498db; }

.synth-config {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.synth-config h2 {
  margin: 0; }

.sine-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.sine {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.btn-sine {
  background-color: #bdc3c7; }

.btn-sine:hover {
  background-color: #ecf0f1; }

input.text-input {
  width: 60%;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #7f8c8d;
  border-radius: 12px;
  font-size: 18px; }

input.text-input:focus {
  outline: none; }

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center; }

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px; }

.login form .option-text {
  width: 100px;
  text-align: left;
  margin: 0 auto; }

.login .btn-login {
  height: 50px;
  width: 200px;
  background-color: #2980b9; }

.login .btn-login:hover {
  background-color: #3498db; }

.rooms .create-room {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.rooms .create-room .btn-create-room {
  margin: 10px auto;
  width: 300px;
  height: 80px;
  background-color: #2980b9; }

.rooms .create-room .btn-create-room:hover {
  background-color: #3498db; }

.rooms .btn-room {
  background-color: #2980b9; }

.rooms .btn-room:hover {
  background-color: #3498db; }

.rooms .tiny {
  font-size: 12px;
  margin: 0; }

.btn-leave {
  height: 40px;
  width: 150px;
  border-radius: 6px;
  background-color: #d35400; }

.btn-leave:hover {
  background-color: #e67e22; }

.btn-delete {
  height: 40px;
  width: 150px;
  border-radius: 6px;
  background-color: #c0392b; }

.btn-delete:hover {
  background-color: #e74c3c; }
